[Desktop Entry]
Name=KeeWeb
GenericName=Password Manager
Exec=/opt/KeeWeb-1.9.1/KeeWeb
Icon=/opt/KeeWeb-1.9.1/128x128.png
Terminal=false
Type=Application
Categories=Utility;
