[Desktop Entry]
Name=KeeWeb
GenericName=Password Manager
Exec=/opt/KeeWeb-1.8.0/KeeWeb
Icon=/opt/KeeWeb-1.8.0/resources/app/icon.png
Terminal=false
Type=Application
Categories=Utility;
